body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.container {
    background-color: rgb(220, 215, 215);
    width: 30%;
}

input {
    padding: 5px;
    border-radius: 5px;
}

button {
    background-color: rgb(88, 187, 187);
    border-radius: 5px;
    color: rgb(37, 32, 27);
}



